*{
  margin: 0px;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  color: white;
}

.App{
  display: flex;
  height: 100vh;
  background-color: black;
}

nav{
  text-align: end;
  display: flex;
  flex-direction: column;
  justify-content:flex-end;
  margin: 10px;
  z-index: 2;
  margin-bottom: 60px;
}

/* .circle{
  width: 100px;
  height: 100px;
  border: 1px solid white;
  border-radius: 50%;
  animation: rotate 1s infinite linear;
  transform-origin: top;
  z-index: 2;
} */

@keyframes rotate {
  from{transform: rotate(0deg);}
  to{transform: rotate(360deg);}
}

video{
  width: 100%;
  height: 100%;
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: 1;
}